.home-bg {
  background: #1b263b;
  min-height: 100vh;
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
}

@media (max-width: 768px) {
  .home-img {
    display: none; /* Hide the image */
  }
}
